In [1]:
import pandas  as pd

In [2]:

df = pd.read_parquet('yellow_tripdata_2022-01.parquet')
df.to_csv('yellow.csv')

In [3]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [4]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [5]:
import sqlalchemy

In [1]:
import argparse

In [6]:
user = 'myuser'
password = 'loom'
host = '127.0.0.1'
port = 5432
database = 'mydb'

In [8]:
engine = sqlalchemy.create_engine(url="postgresql://{0}:{1}@{2}:{3}/{4}".format(user, password, host, port, database))

In [9]:
engine.connect()

In [12]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [17]:
df_iter = pd.read_csv("yellow.csv",iterator=True,chunksize=100000)

In [18]:
df = next(df_iter)

In [19]:
len(df)

100000

In [22]:
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

0

In [23]:
%time df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

CPU times: user 24.8 s, sys: 903 ms, total: 25.7 s
Wall time: 1min 2s

1000

In [24]:
from time import time

In [ ]:
while True:
    t_start = time()
    df =next(df_iter)
    df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')
    t_end = time()
    print('Inserted..another..chunk  %.3f seconds'%(t_end-t_start))
else:
    print('successfuly Added all the chunks')

Inserted..another..chunk  43.733 seconds
Inserted..another..chunk  49.245 seconds
Inserted..another..chunk  49.758 seconds
Inserted..another..chunk  52.779 seconds
Inserted..another..chunk  66.436 seconds
Inserted..another..chunk  61.174 seconds
Inserted..another..chunk  54.941 seconds
Inserted..another..chunk  57.809 seconds